@import"lib/variables";

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat'
}

.navbar{
    min-height: 60px;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    background: white;
    &_logo{
        height: 80px;
        width: 140px;
        color: white;
    }
    &_burger{
        cursor: pointer;
    }
}

.section-1{
background: $primary;
min-height: 80vh;
overflow-x: hidden;
margin-top: 102px;
&__info{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
    &-container{
        margin: 0 auto;
        width: 80%;
        &-title,&-text{
            color: white;
            margin-bottom: 30px;
        }
        &-button{
            color: #ffffff;
            background-color: $green;
            font-weight: bold;
            padding: 8px 35px;
            cursor: pointer;
            border: none;
        }
        
    }
}

&__img{
    background-image: url('../img/iphone.png');
    background-repeat: no-repeat;
    background-position: top; 
    height: 100vh;
}

}


.section-2{
background: white;
min-height: 90vh;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;

&__content{
    text-align: center;

    &-title{
        color: $primary;
        font-weight: 800;
        font-size: 3rem;
    }

    &-text{
        color: $text;
        font-size: .9rem;
    }
}

&__wrap{
    margin-top: 50px;
    display: flex;   
    flex-wrap: wrap;
    justify-content: center;

    &-container{
        display: flex;
        max-width: 570px;
        margin:  40px 10px;
        &-check{
            display: flex;
            justify-content: center;
            align-items: center;
            border: 2px solid;
            border-color: $primary;
            height: 60px; 
            min-width: 60px; 
            border-radius: 50%;
            margin: 0 10px;
            color: $primary;
        }

        &-info{
            &-title{
                color: $primary;
                font-weight: 800;
                font-size: 1.5rem;
            }

            &-text{
                color: $text;
                font-size: .9rem;
            }
        }
    }
}

}

.section-3{ 
background: $primary; 
overflow-x: hidden;
&__card{
color: #ffffff;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
padding: 15px;
height: 60vh;

&:nth-child(even) {
    background: darken($primary, 5%);
}

&-container{
    width: 90%;
    &-title{
        margin: 20px 0;
        font-weight: 800;
    }

    &-text{
        color: $text;
        font-size: .9rem;
    }
    
    &-button{
        background: none;
        border: none;
        color: white;
        font-weight: 800;
        cursor: pointer;
        margin: 20px 0;
    }
}

}
}

.section-4{
    background: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 

    &__content{
        margin-top: 50px;
        
        &-title{
            color: $primary;
            font-weight: 800;
            font-size: 3rem;
        }
    
        &-text{
            color: $text;
            font-size: .9rem;
        }
        &-button{
            font-weight: bold;
			text-transform: uppercase;
			cursor: pointer;
            border: 0;
            font-size: 1rem;
			background: transparent;
            color: $primary;
            margin:30px 12px;
        }
    }

    &__wrap{
        display: flex;   
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 40px;
        &-item{
            margin: 15px;
            &-img{
                height: 220px;
                width: 250px;
                background: $primary;
                color: white;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
            &-title{
                color: $primary;
                font-weight: 800;
                font-size: 1.2rem;
                margin: 10px 0;
            }

            &-text{
                color: $text;
                font-size: .8rem;
            }
        }
    }

}

.section-5{
min-height: 160px;
background: $primary;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
overflow-x: hidden;
&__content{
    color: white;
    &-title{
        font-weight: 800;
        font-size: 1.5rem;
        margin: 10px 0;
    }
    &-text{
        color: $text;
        
    }
}

&__container{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    &-button{
        color: white;
        background:$primary;
        font-weight: bold;
        padding: 8px 35px;
        cursor: pointer;
        margin: 10px;
        border-color:darken($primary, 10%) ;
        &:nth-child(even) {
            background:$green;
        }
    }
}

}   


.section-6{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__content{
        text-align: center;

        &-title{
            color: $primary;
            font-weight: 800;
            font-size: 3rem;
        }
    
        &-text{
            color: $text;
        }
    }


    &__wrap{
        display: flex;   
        flex-wrap: wrap;
        justify-content: center;
        margin: 40px 0;
        &-container{
            margin: 20px;   
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            &-img{
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
                height: 140px; 
                min-width: 200px; 
                margin: 0 10px;
                background: $primary;
            }
    
            &-info{
                max-width: 300px;
                &-title{
                    color: $primary;
                    font-weight: 800;
                    font-size: 1.5rem;
                }
                &-by{
                    color: $text;
                }
    
                &-text{
                    color: $text;
                    margin-top: 5px;
                    font-size: .9rem;
                }
            }
        }
    }

}

.section-7{
    min-height: 120px;
    background: $primary;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-x: hidden;
    &__content{
        color: white;
        &-title{
            font-weight: 800;
            font-size: 1.5rem;
            margin: 10px 0;
        }
    }
    &__container{
        display: flex;
        align-items: center;
        justify-content: center;
        &-button{
            color: white;
            background:$green;
            font-weight: bold;
            padding: 10px 32px;
            border: none;
            cursor: pointer;
             margin: 2px;
        }
        &-input{
            height:32px;
            width:250px;
        }
    }
}

.section-8{
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
   &__content{
    margin-top: 50px;
    &-title{
        color: $primary;
        font-weight: 800;
        margin: 10px 0;
        font-size: 2rem;
    }
    &-text{
        color: $text;
        font-size: .9rem;
    }
}


}

.footer{
    background: $primary; 
    overflow-x: hidden;
    &__card{
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 15px;
    min-height: 40vh;
    
    &-container{
        width: 90%;
        &-title{
            margin: 20px 0;
        }
        &-text{
            color: $text;
            font-size: .9rem;
        }

        &-email{
            font-size: .9rem;
        }

        &-phone{
            margin-top: 10px;
            font-size: .9rem;
        }
        
        &-button-1{
            background: none;
            color: white;
            border-color:darken($primary, 10%) ;
            font-weight: bold;
            cursor: pointer;
            padding: 10px 32px;
            margin: 20px 0;
          
        }

        &-button-2{
            background: $green;
            color: white;
            border: none;
            font-weight: bold;
            cursor: pointer;
            padding: 10px 32px;
            margin: 20px 0;
          
        }

        &-social{
           display: flex;
          margin-top: 30px;
           &-circle{
            border: 2px solid;border-radius: 50%;
            width: 40px; 
            height: 40px;
            margin: 0 5px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
           }
           
        }
        
    }
    
    }

    &__section-2{
        background: darken($primary, 5%);   
        min-height: 80px;
        display: flex;
        align-items: center;
        justify-content: space-around;

        
        &__logo{
            height: 80px;
            width: 200px;
        }

        &__button{
            background: none;
            border: none;
            color: white;
            font-weight: bold;
            cursor: pointer;
            margin-left: 20px;
        }

    }
}

@media only screen and (max-width: 430px) {
  .section-1__img{
      display: none;
  }
  .section-1__info{
    height: 90vh;
    background-image: url('/img/iphone.png');
    background-repeat: no-repeat;
    background-position: center; 
}
.section-1__info-container{
    width: 80%;
}
}

@media only screen and (max-width: 600px){

    .footer__section-2__container{
        display: none;
    }
    .section-4__content-button{
        font-size: .8rem;
    }

}

  .container {
    padding: 50px 0;
    text-align: center;
    display: flex;
   flex-wrap: wrap;
    justify-content: center;
  }

  
.chart {
    position: relative;
    display: inline-block;
    color: #999;
    font-size: 20px;
    text-align: center;
  }
  
  .chart figcaption {
    padding: 50px 25px;
    width: 100px;
    height: 40px;
    border-radius: 100px;
    line-height: 50px;
  }
  
  .chart svg {
    position: absolute;
    top: -5px;
    left: -15px;
  }
  
  .outer {
    fill: transparent;
    stroke: #333;
    stroke-width: 5;
    stroke-dasharray: 534;
  }
  
  .outer2 {
    fill: transparent;
    stroke: #333;
    stroke-width: 10;
    stroke-dasharray: 283;
  }
  
  .chart[data-percent='90'] .outer {
    stroke-dashoffset: 40;
    animation: show75 3s;
  }
  
  .chart[data-percent='85'] .outer {
    stroke-dashoffset: 60;
    animation: show75 3s;
  }
  .chart[data-percent='80'] .outer {
    stroke-dashoffset: 83;
    animation: show75 3s;
  }
  .chart[data-percent='75'] .outer {
    stroke-dashoffset: 130;
    animation: show75 3s;
  }
  
  
  @keyframes show75 {
    from {
      stroke-dashoffset: 537;
    }
    
    to {
      stroke-dashoffset: 133;
    }
  }


.main-nav {
    list-style-type: none;
    display: none;
}

.nav-links {
    text-decoration: none;
    color: $primary;
    font-weight: 800;
}

.main-nav li {
    text-align: center;
    margin: 15px auto;
}


.navbar-toggle {
    position: absolute;
    top: 30px;
    right: 40px;
    cursor: pointer;
    font-size: 24px;
}

.active {
    display: block;
}

@media screen and (min-width: 768px) {
    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 70px;
    }

    .main-nav {
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
    }

    .nav-links {
        margin-left: 40px;
    }

    .navbar-toggle {
        display: none;
    }

}